RewriteEngine On
RewriteCond %{HTTP_HOST} ^izh.rksf.ru$ [NC]
RewriteCond %{REQUEST_URI} !^/izh/ [NC]
RewriteRule (.*) /izh/$1 [L]
RewriteCond %{HTTP_HOST} ^msk.rksf.ru$ [NC]
RewriteCond %{REQUEST_URI} !^/msk/ [NC]
RewriteRule (.*) /msk/$1 [L]
RewriteCond %{HTTP_HOST} ^nn.rksf.ru$ [NC]
RewriteCond %{REQUEST_URI} !^/nn/ [NC]
RewriteRule (.*) /nn/$1 [L]
RewriteCond %{HTTP_HOST} ^sochi.rksf.ru$ [NC]
RewriteCond %{REQUEST_URI} !^/sochi/ [NC]
RewriteRule (.*) /sochi/$1 [L]